article {
  background-color: $black-accent;
  padding: 90px 30px;
  .article-wrapper {
    @include flex-between-center;
    gap: 100px;
    margin: 0 auto;
    max-width: $max-width;

    .logo {
      width: 40%;

      // height: 170px;
    }

    .article-right {
      p {
        color: white;
        @include font14-lineheight20;
        margin-bottom: 40px;
      }
      h2 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
      }

      .article-divider {
        margin: 40px 0;
      }
      .content-wrapper {
        display: flex;
        .article-icons {
          background-color: $red-accent;
          border: 12px solid $red-accent;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          margin-right: 10px;

          &:nth-of-type(1) {
            margin-bottom: 40px;
          }
        }

        .article-text {
          h4 {
            color: white;
            font-size: 1.4rem;
            font-weight: 600;
          }
          p {
            color: white;
            @include font14-lineheight20;
          }
        }
      }
    }
  }
}

#about {
  scroll-margin-top: 73px;
}

@media (max-width: 768px) {
  .article-wrapper {
    flex-direction: column;
  }

  .logo {
    width: 80% !important;
  }
}
