#contact {
  background-color: $red-accent;
  text-align: center;
  padding: 70px 30px;
  scroll-margin-top: 73px;
  h2 {
    color: white;
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 50px;
  }

  p {
    color: white;
    @include font14-lineheight20;
    font-weight: 400;
    margin-bottom: 27px;
  }
  form {
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    max-width: 390px;

    .form-wrapper {
      @include flex-column;
      padding: 33px 65px;

      input[type="text"],
      [type="tel"] {
        border: none;
        border-bottom: 1px solid rgba(128, 128, 128, 0.493);
        font-size: 1.2rem;
        line-height: 2.4rem;
        margin-top: 20px;
        width: 100%;

        &:nth-of-type(1) {
          margin-top: 0;
        }

        &::placeholder {
          color: $light-gray-accent;
          padding: 7px;
        }
      }
      .contact-separator {
        margin-top: 20px;
        text-align: left;
        input[type="radio"] {
          @include input-radio;
          &::before {
            position: absolute;
            content: "";
            top: 3px;
            left: 3px;
            height: 0.8rem;
            width: 0.8rem;
            background-color: $green-accent;
            border-radius: 50%;
            opacity: 0;
          }
          &:checked {
            border: 1px solid $green-accent;
          }
          &:hover {
            cursor: pointer;
          }

          &:checked::before {
            opacity: 1;
          }

          &:checked + label {
            color: black;
            font-weight: 600;
            opacity: 1;
          }
        }

        label:nth-of-type(1) {
          margin-right: 30px;
          color: black;
          opacity: 0.5;
        }
        label:nth-of-type(2) {
          color: black;
          opacity: 0.5;
        }
      }
      button {
        background-color: $green-accent;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        height: 48px;
        margin: 40px auto 0 auto;
        width: 158px;

        &:hover {
          @include form-btn-hover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    padding: 33px 35px !important;
  }
}
