main {
  background-image: url("../content/main/photo-1480714378408-67cf0d13bc1b.png");
  background-position: 0% 45%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 73px;
  position: relative;
  padding: 65px 30px 130px 30px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-accent;
    opacity: 0.63;
  }

  .main-wrapper {
    @include flex-between-center;
    margin: 0 auto;
    max-width: $max-width;

    .main-left {
      color: white;
      width: 50%;
      margin-right: 50px;
      z-index: 1;

      .main-logo {
        margin: 20px 0;
      }

      h1 {
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 4.32rem;
        margin-bottom: 10px;
      }

      .divider {
        margin-left: -9px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.3rem;
        margin-bottom: 20px;
        opacity: 0.8;
      }

      button {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: 600;
        height: 42px;
        margin-bottom: 30px;
        padding: 10px 25px;
        width: 150px;

        &:hover {
          background-color: white;
          color: black;
          cursor: pointer;
          font-weight: 800;
        }
      }
    }
    .main-right {
      @include flex-column;
      text-align: left;
      z-index: 1;
      max-width: 360px;
      h3 {
        background-color: #f5f5f5;
        border-radius: 5px 5px 0 0;
        color: #333333;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.4rem;
        padding: 20px 25px;
        text-align: center;

        span {
          color: $red-accent;
        }
      }

      form {
        background-color: #ffffff;
        border-radius: 0 0 5px 5px;
        .form-wrapper {
          padding: 10px 50px;
          h4 {
            color: $black-accent;
            font-size: 1.6rem;
            font-weight: 600;
            margin: 20px 0 10px 0;

            &:nth-of-type(2) {
              margin-bottom: 20px;
            }
          }

          input[type="text"],
          [type="tel"] {
            border: none;
            border-bottom: 1px solid #d8d8d8;
            font-size: 1.2rem;
            line-height: 2.4rem;
            margin-top: 30px;
            width: 100%;

            &:nth-of-type(1) {
              margin-top: 15px;
            }

            &::placeholder {
              color: $light-gray-accent;
              padding: 7px;
            }
          }

          input[type="radio"] {
            @include input-radio;
            &::before {
              position: absolute;
              content: "";
              top: 3px;
              left: 3px;
              height: 0.8rem;
              width: 0.8rem;
              background-color: $green-accent;
              border-radius: 50%;
              opacity: 0;
            }
            &:checked {
              border: 1px solid $green-accent;
            }

            &:checked::before {
              opacity: 1;
            }

            &:hover {
              cursor: pointer;
            }

            &:checked + label {
              color: black;
              font-weight: 600;
              opacity: 1;
            }
          }

          label {
            font-size: 1rem;
            font-weight: 600;
            opacity: 0.5;
          }
          label:nth-of-type(4) {
            margin-right: 30px;
          }
        }
      }
      button {
        background-color: $green-accent;
        border: none;
        border-radius: 0 0 5px 5px;
        color: white;
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 20px;
        padding: 15px;
        width: 100%;

        &:hover {
          @include form-btn-hover;
        }
      }
    }
  }
}

//JS classes

.zindex {
  z-index: -1 !important;
}

@media (max-width: 800px) {
  main {
    padding-bottom: 50px;
    .main-wrapper {
      @include flex-between-center;
      flex-direction: column;
      margin: 0 auto;

      .main-left {
        margin-right: 0px !important;
        margin-bottom: 20px;
        width: 100%;
      }

      .main-right {
        .form-wrapper {
          padding-top: 15px !important;
        }
        button {
          margin-top: 0px;
        }
      }
    }
  }
}
