@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-justbetween {
  display: flex;
  justify-content: space-between;
}

@mixin font14-lineheight20 {
  font-size: 1.4rem;
  line-height: 2rem;
}

@mixin form-btn-hover {
  color: $black-accent;
  cursor: pointer;
  font-weight: 800;
}

@mixin input-radio {
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border: 1px solid #d8d8d8;
  border-radius: 50%;
  position: relative;
}
