#pricing {
  background-color: $blue-accent;
  padding: 90px 30px 50px 30px;
  text-align: center;
  overflow: hidden;
  h2 {
    color: white;
    font-size: 3.6rem;
    font-weight: 600;
  }
  img {
    margin: 30px;
  }

  .pricing-text {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 70px;
  }

  .swiper2 {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    .swiper-wrapper {
      .card {
        max-width: 340px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        h4 {
          background-color: $black-accent;
          border-radius: 5px 5px 0 0;
          color: white;
          font-size: 2rem;
          font-weight: 400;
          height: 59px;
          line-height: 3.5rem;
          padding: 10px 0;
        }

        h3 {
          background-color: $black-accent;
          color: white;
          font-size: 3.8rem;
          font-weight: 400;
          height: 100px;
          line-height: 6.5rem;

          span {
            font-size: 9.4rem;
          }
        }
        h5 {
          background-color: $black-accent;
          color: #ffffff85;
          font-size: 1.4rem;
          font-weight: 400;
          height: 51px;
          line-height: 5rem;
        }

        div {
          background-color: $green-accent;
          height: 6px;
        }

        p {
          background-color: $green-accent;
          color: white;
          font-size: 1.4rem;

          height: 40px;
          line-height: 40px;
        }
        ul {
          background-color: white;
          border-radius: 0 0 5px 5px;
          list-style: none;

          li {
            color: #86878b;
            font-size: 1.4rem;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: $green-accent;
      transform: scale(1.3);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 300px !important;
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 250px !important;
  }
}
