#pricing {
  background-color: $blue-accent;
  padding: 90px 30px 50px 30px;
  text-align: center;
  overflow: hidden;
  scroll-margin-top: 73px;
  h2 {
    color: white;
    font-size: 3.6rem;
    font-weight: 600;
  }
  img {
    margin: 30px;
  }

  .pricing-text {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 70px;
  }

  .swiper2 {
    max-width: $max-width;
    height: 100%;
    margin: 0 auto;
    .swiper-wrapper {
      align-items: flex-end;
      margin-bottom: 30px;
      .card {
        max-width: 340px;
        @include flex-column;
        margin: 0 auto;
        h4 {
          background-color: $black-accent;
          border-radius: 5px 5px 0 0;
          color: white;
          font-size: 2rem;
          font-weight: 400;
          height: 59px;
          line-height: 3.5rem;
          padding: 10px 0;
        }

        h3 {
          background-color: $black-accent;
          color: white;
          font-size: 3.8rem;
          font-weight: 400;
          height: 100px;
          line-height: 6.5rem;

          span {
            font-size: 9.4rem;
          }
        }
        h5 {
          background-color: $black-accent;
          color: #ffffff85;
          font-size: 1.4rem;
          font-weight: 400;
          height: 51px;
          line-height: 5rem;
        }

        div {
          background-color: $green-accent;
          height: 6px;
        }

        p {
          background-color: $green-accent;
          color: white;
          font-size: 1.4rem;

          height: 40px;
          line-height: 40px;
        }
        ul {
          background-color: white;
          border-radius: 0 0 5px 5px;
          list-style: none;

          li {
            color: #86878b;
            font-size: 1.4rem;
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
    .swiper-pagination-bullet {
      height: 15px;
      width: 15px;
      border: 2px solid $green-accent;
      background-color: white;
      margin-right: 20px;
      opacity: 1;
      transition: 0.5s;
      transition: transform 0.3s;

      &:hover {
        cursor: pointer;
        transform: scale(2);
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $black-accent;
    }
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 300px !important;
  }
}
