#reviews {
  padding: 90px 30px;
  position: relative;
  scroll-margin-top: 73px;

  h2 {
    color: $black-accent;
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0 auto 30px auto;
    text-align: center;
    padding-bottom: 20px;
  }

  .reviews-divider {
    background-color: $blue-accent;
    margin: 0 auto;
    height: 2px;
    width: 64px;
  }
  .swiper {
    max-width: 1200px;
    height: 500px;

    .swiper-wrapper {
      .swiper-slide {
        .review-card {
          @include flex-column;
          justify-content: center;
          height: 100%;
          max-width: 270px;
          margin: 0 auto;

          p {
            background-color: $blue-accent;
            border-radius: 8px;
            color: white;
            font-size: 1.6rem;
            line-height: 2.2rem;
            margin-bottom: 20px;
            padding: 20px;
          }
          .review-author {
            display: flex;
            position: relative;

            &::before {
              position: absolute;
              content: "";
              top: -20px;
              left: 25px;
              height: 20px;
              width: 20px;
              border-top: 10px solid $blue-accent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-left: 10px solid transparent;
            }

            .review-author-info {
              align-self: center;
              margin-left: 20px;

              h3 {
                color: #333333;
                font-size: 2rem;
                font-weight: 400;
              }
              h6 {
                color: #86878b;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .swiper-pagination-bullet {
      height: 15px;
      width: 15px;
      border: 1px solid $red-accent;
      background-color: white;
      margin-right: 20px;
      margin-bottom: 15px;
      transition: 0.5s;
      transition: transform 0.3s;
      opacity: 1;

      &:hover {
        cursor: pointer;
        transform: scale(2);
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $red-accent;
    }
  }
}

@media (max-width: 650px) {
}
