#sale {
  padding: 90px 30px;
  text-align: center;

  h2 {
    color: #212121;
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 30px;
  }

  h5 {
    color: #86878b;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 30px;
  }

  .triple {
    @include flex-justbetween;
    gap: 30px;
    margin: 40px auto;
    max-width: $max-width;

    div {
      img {
        border: 1px solid $red-accent;
        border-radius: 50%;
        height: 50px;
        margin-bottom: 20px;
        width: 50px;
        padding: 10px;
      }

      h3 {
        color: #333333;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 25px;
      }
      p {
        color: #86878b;
        @include font14-lineheight20;
        max-width: 280px;
      }
    }
  }
}

@media (max-width: 768px) {
  .triple {
    flex-direction: column;
    align-items: center;
  }
}
