#social {
  padding: 19px 30px;
  width: 100%;

  .social-wrapper {
    @include flex-justbetween;
    margin: 0 auto;
    max-width: $max-width;
    .text {
      max-width: 390px;
      margin-right: 20px;
      h3 {
        color: #333333;
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        color: #86878b;
      }
    }

    .icons {
      @include flex-justbetween;
      gap: 25px;
      width: 50%;

      a {
        align-self: center;
        transition: 0.3s;

        &:hover {
          border-radius: 5px;
          cursor: pointer;
          transform: scale(1.3);
        }

        &:last-child {
          opacity: 0.65;
        }
        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .social-wrapper {
    flex-direction: column;

    .text {
      margin-bottom: 30px;
    }
  }
}
