@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap");
@import "variables.scss";
@import "general.scss";
@import "navbar.scss";
@import "main.scss";
@import "social.scss";
@import "tabs.scss";
@import "article.scss";
@import "sale.scss";
@import "pricing.scss";
@import "reviews.scss";
@import "contactus.scss";
@import "footer.scss";
