//Colors
$black-accent: #1c1c1c;
$red-accent: #e27866;
$green-accent: #41d395;
$blue-accent: #6696e2;
$light-gray-accent: #d8d8d8;

// Cursor
$hand-cursor: url("../content/general/description-cursor-icon-with-shadow-32.png"),
  auto;

//Max-width of the container
$max-width: 1100px;
